body {
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 40px;
    color: #38bdf8;
}

.form {
    margin-top: 20px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}